
@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('../fonts/AtlasGrotesk-Regular-Web.eot');
  src: url('../fonts/AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2'),
       url('../fonts/AtlasGrotesk-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #00F;
}

::selection {
  color: white;
  background: #00F;
}



a,
a:link,
a:visited {
	color:#00F;
	text-decoration:none;
	border-bottom:0.15em dotted #00F;
}

a:hover {
	border-bottom:none;
}



body {
	color:#00F;
	font-family: 'Atlas Grotesk Web';
	font-weight:  400;
	font-style:   normal;
	font-stretch: normal;
	font-size:23px;
	line-height:1.3em;
}


ul {
	margin:0 0 0 -1.8em;
}

#container {
	display:grid;
	max-width:1300px;
	grid-template-columns:3fr 1fr;
	grid-column-gap:1.5rem;
	margin:2em auto;
}
h1, h2, h3, h4, h5, p {
	font-weight:400;
	margin:1.3rem 0 0 0;
	padding:0;
}

h3 {
	font-size:2em;
	line-height:1.2em;
	letter-spacing:-0.02em;
}

h4 {
	text-decoration:underline;
}