/* this is a comment in CSS. MOVE THIS STYLE TO A SEPARATE FILE */


.letter {

	width:200px; /*resize as you see fit */
	height:300px; /*resize as you see fit */
	display:inline-block; /* this makes block level elements act like letters (so they sit next to eachother) */
	border:1px solid #000; /*feel free to remove or hide this rule */
	position:relative; /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */
}

.letter-a {
        width:140px;
}

.a-stem {
        width:30px;
        height:150px;
        background:black;
        position:absolute;
        top:150px;
        left:110px;
}

.a-bowl {
    height: 156px;
    width: 130px;
    background: black;
    border-radius: 48%;
    position: absolute;
    top: 147px;
}

.a-counter {
    height: 96px;
    width: 70px;
    background: white;
    border-radius: 48%;
    position: absolute;
    top: 177px;
    left:30px;
}




.letter-i {
        width:30px;
}

.i-stem {
        width:30px;
        height:120px;
        background:black;
        position:absolute;
        top:180px;
}

.i-dot {
        width:30px;
        height:30px;
        background:black;
        position:absolute;
        top:120px;
}





.letter-l {
        width:30px;
}

.l-stem {
        width:30px;
        height:180px;
        background:black;
        position:absolute;
        top:120px;
}


.letter-o {
        width:130px;
}
.o-outside {
    height: 156px;
    width: 130px;
    background: black;
    border-radius: 48%;
    position: absolute;
    top: 147px;
}

.o-counter {
    height: 96px;
    width: 70px;
    background: white;
    border-radius: 48%;
    position: absolute;
    top: 177px;
    left:30px;
}

